{{#Items}}
  {{#Item}}
    {{#aalb}}
     <a href="{{DetailPageURL}}" target="_blank" rel="nofollow">[[Amazon_Link_Text]]</a> <!--Individual attributes are provided as variable tags as {{[[attribute]]}}. Check documentation for list of supported variable tags.-->
    {{/aalb}}
  {{/Item}}
{{/Items}}
